<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>movie app</title>
  <link rel='stylesheet' href='/stylesheets/main.css'>
</head>
<body>
  <div class="container">
    <nav>
      <a href="/">Home</a>
      <a href="/movies">Movies</a>
      <a href="/history">History</a>
    </nav>

    <%= yield %>
  </div>

</body>
</html>