body{
  background-color: mistyrose;
  
}
a{
  text-decoration: none;
}
.search-result{
  padding-left: 0.3em;
}
.search-result li{
  list-style: none;
  
}
nav{
  display: flex;
}
nav a{
  padding-right: 0.5em;

}

h1,h2,h3{
  color: #673AB7;
}